@import url("../reset.css");
@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Raleway;
    background-color: black;
}
header {
    height: 605px;
    width: auto;
}

.banner {
    border-bottom: solid 1px;
    border-color: #33A8DB;
    background-image: url("./assets/images/banner.png"),  linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(49, 168, 221, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%); 
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
.banner-content{
    text-wrap: nowrap;
    display: grid;
    justify-items: center;
    width: Hug (510px)px;
    height: Hug (393px)px;
    top: 56px;
    left: 465px;
    gap: 16px;
    opacity: 0px;

}
.banner-content h1{
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 46.96px;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
 
}
.banner-content p{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: center;
    color: white;
    width: 550px;
    height: 46;
    text-align: center;
    text-wrap: wrap;
}
.banner-content button{
    border: 2px solid;
    background: transparent;
    color: #33A8DB;
    width: Fixed (326px)px;
    height: Hug (57px)px;
    top: 473px;
    left: 557px;
    padding: 19px 91px 19px 91px;
    gap: 31px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 900;
    line-height: 18.78px;
    letter-spacing: 0.21em;
    text-align: center;
}

.logo{
    margin-top: 20px;
    
}
.logo img {
    object-fit: contain;
    height: 200px;
    width: 200px;
    margin-top: 60px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 100%;
}
#course-content{
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: black;
}
#course-content h2 {
    font-family: Raleway;
    margin-top: 80px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    color: #33A8DB;
}
#course-content p {
    font-family: Raleway;
    width: 800px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;
    color: white;
    text-wrap: wrap;
}
.modules-list{
    color: white;
    padding:  30px;
    display: grid; 
    justify-content: center;
}
.module{
    font-family: Raleway;
    width: 496px;
    margin-bottom: 20px;
    padding: 20px;
    border: #33A8DB solid;
    border-radius: 57px;
    background-color: #181d1f;
    font-size: 16px;
    font-weight: 400;
    box-shadow: inset 5px 5px 5px black;
    
}
.module span{
    color: #33A8DB;
}
#transform-world{
    background-image: url(./assets/images/woman-code.png);
    height: 363px;
    width: auto;
    color: aliceblue;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: #33A8DB solid 1px;
    border-top: #33A8DB solid 1px;
    

}
#transform-world p{
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 46.96px;
    text-shadow: 3px 2px #33A8DB;   
    text-wrap: wrap;
    width: 300px;
    text-align:center;
    padding: 110px 220px;
    
}
#professional-challenges{
    display: grid;
    justify-content: center;
    text-align: center;
    height: 900px;
    background-color: black;
    justify-items: center;
    border-bottom: #33A8DB solid 1px;
}
#professional-challenges h2{
    font-family: Raleway;
    display: grid;
    width: 600px;
    margin-top: 80px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    color: #33A8DB;
}
#professional-challenges p{
    font-family: Raleway;
    width: 800px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;
    color: white;
    text-wrap: wrap;
}
footer{
    display: grid;
    justify-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2)) ;
    height: 150px;

}
footer a{
    text-decoration: none;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: center;
    color: #33A8DB;
}